name: Deploy Existing Repo to GitHub Pages

on:
  workflow_dispatch:
    inputs:
      repo_url:
        description: "GitHub repository URL to deploy"
        required: true
        type: string

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Print input
        run: echo "Repo URL = ${{ github.event.inputs.repo_url }}"
